img{
    width: 100%;
}

.foot-banner{
    width: 100%;
    height: 180px;
    background-color: black;
    color: white;
    text-align: justify;
}

.abcxyz{
    position: relative;
    top : 60px;
    color: white;
}

