a{
    padding: 0px 40px !important ;
    color: black !important;
    font-weight: bold;  
    margin: auto !important;
}
#logo{
    width: 64px !important;
    height: 54px !important;
    margin: auto !important;
    padding: auto !important;
}

#footer{
    margin: 30px 30px;
}